/* =#toc Table of contents */
body{padding-right:336px;}
.toc-marker{color:#999; font-size:10px;}
.tags, #toc .tags a{color:#f00}
.top{font-size:10px;}
#toc{background:#333; font-size:11px; padding:18px 18px 18px 0; position:fixed; top:0; right:0; width:300px;}
#toc ul, #toc li{line-height:1.3em; margin:0; padding:0; list-style-type:none}
#toc li{margin-left:18px;}
#toc a{color:#fff}
#toc a span{color:#999;}
.tags, #toc .tags a{color:#f00}
.top{font-size:10px;}
